body {   
  display: flex;
  justify-content: center;
  height: 200vh;
  background-color: steelblue;
  font-family: sans-serif;
  }

h1{
  color: white;
}

button{
  margin: 15px;
}

ul {
  list-style: none;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  width: 299px;
  margin: 0 auto;
}

ul::-webkit-scrollbar {    
  display: none;
}

li.item {
  text-align: center;
  background: #eee;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0;
  height: 200px;
  display: table;
}

.fa-star:active{
  color: goldenrod;
}

.fa-star:focus{
  color: goldenrod;
}

.fa-heart:active{
  color: red;
}

.fa-heart:focus{
  color: red;
}

.fa-share:active{
  color: steelblue;
}

.fa-share:focus{
  color: steelblue;
}